<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prisma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= url('/bootstrap.min.css') %>" rel="stylesheet">
    <link href="<%= url('/bootstrap-responsive.min.css') %>" rel="stylesheet">
    <link href="<%= url('/style.css') %>" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages:['corechart']});
    </script>
  </head>
  <body>
    <div id="rainbow">
      <div class="rainbow-color red"></div>
      <div class="rainbow-color orange"></div>
      <div class="rainbow-color yellow"></div>
      <div class="rainbow-color green"></div>
      <div class="rainbow-color blue"></div>
      <div class="rainbow-color indigo"></div>
      <div class="rainbow-color violet"></div>
    </div>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="<%= url('/') %>">Prisma</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li<%= " class=\"active\"" if request.path_info == '/daily' %>><a href="<%= url('/daily') %>">Daily</a></li>
              <li<%= " class=\"active\"" if request.path_info == '/weekly' %>><a href="<%= url('/weekly') %>">Weekly</a></li>
              <li<%= " class=\"active\"" if request.path_info == '/monthly' %>><a href="<%= url('/monthly') %>">Monthly</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <% @groups.each_with_index do |item, index| %>
        <% group = item[0] %>

        <% if index.even? %>
        <div class="row-fluid">
        <% end %>

        <div class="span6">
          <h3><%= group.name.humanize %></h3>
          <em><%= group.description %></em>
          <div id="<%= group.name %>_chart"></div>
        </div>

        <% if index.odd? %>
        </div>
        <% end %>
      <% end %>
    </div>

    <script type="text/javascript">
      function drawCharts() {
        var options = {
          backgroundColor: { fill: '#f5faff' },
          fontName: 'Helvetica',
          legend: { position: 'none' },
          pointSize: 4,
          series: [{ color: '#ff8000' }]
        }

        <% @groups.each do |group, values| %>
        var data_<%= group.name %> = google.visualization.arrayToDataTable([
          <% values.each do |date, value| %>
            ['<%= date.strftime(@date_format) %>', <%= value %>],
          <% end %>
        ]);
        var chart_<%= group.name %> = new google.visualization.LineChart(document.getElementById('<%= group.name %>_chart'));
        chart_<%= group.name %>.draw(data_<%= group.name %>, options);
        <% end %>
      }
      google.setOnLoadCallback(drawCharts);
    </script>
  </body>
</html>

